
<div class="col-md-4 col-md-offset-4">
<form action='/searchPlaces' method='GET'>
<label>Location:</label>  <input type='text' name='q'>
<input type='submit'>
</form>
</div>


<div class="col-md-4 ">
<form action='/getLatInfo' method='POST'>
<label>Lat:</label>  <input type='text' name='lat'>
<label>Long:</label>  <input type='text' name='long'>
<input type='submit'>
</form>
</div>
