<style>
input{
  padding: 5%;
}
</style>
<div class="row">
  <center><h3>Get data from co-ordinates</h3></center>
<div class="col-md-4 col-md-offset-4">
<form action='/getLatInfo' method='POST'>
<div class="row">
<div class="col-md-6">
<label>Latitude:</label>  <input class="form-control" type='text' name='lat'><br>
</div>
<div class="col-md-6">
<label>Longitude:</label>  <input class="form-control" type='text' name='long'><br>
</div>
</div>
<div class="row">
  <div class="col-md-12">
  <label>Area(sq.mts):</label>  <input class="form-control" type='text' name='area'><br>
</div>
</div>
<input type='submit' value='Go get it!' class="btn btn-primary"><br>
</form>
</div>
</div>
