<!DOCTYPE html>
<html>
  <head>
    <title>National Institute of Wind Energy</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/searchbar.css">


  </head>

  <body>
      <nav class="[ navbar navbar-fixed-top ][ navbar-bootsnipp animate ]" role="navigation">
            <div class="[ container ]">

            <center><div class="[ navbar-header ]" style="width:100%;">
              <div class="[ animbrand ]">
                <a class="[ navbar-brand ][ animate ]" href="#" style="width:100%;text-align:center;">National Institute of Wind Energy</a>
              </div>
            </div>
            </center>
          </div>

      </nav>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
    {{{body}}}

  </body>
</html>
